$sidebar-width: 200px; // Largura da sidebar

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px; /* largura da barra lateral */
    background-color: #f0f0f0; /* cor de fundo da barra lateral */
    padding: 20px 0 0 20px; 
    margin: 90px 0 0 0;
  }
  
  .sidebar-nav button {
    display: block; /* exibir como bloco para ocupar toda a largura */
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background-color: transparent; /* botões transparentes */
    cursor: pointer;
    margin-bottom: 10px; /* espaço entre os botões */
    font-size: 22px;
  }
  
  .sidebar-nav button:hover {
    background-color: #ddd; /* cor de fundo ao passar o mouse */
  }

  @media (max-width: 767px) {
    .sidebar {
      width: 25%; /* Altera a largura para ocupar toda a largura da tela */
      height: 100%; /* Define a altura como automática para acomodar o conteúdo */
      padding: 10px; /* Ajuste do espaçamento interno */
      margin: 100px 0; /* Ajuste da margem */
    }
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    .sidebar {
      width: 16%; /* Altera a largura para ocupar toda a largura da tela */
      height: 100%; /* Define a altura como automática para acomodar o conteúdo */
      padding: 10px; /* Ajuste do espaçamento interno */
      margin: 80px 0; /* Ajuste da margem */
    }
  }
  
  @media (min-width: 1024px) {
    .sidebar {
      width: 300px; /* Ajuste da largura */
    }
  }