<div class="content">
    <div class="grid-container">
      <app-header></app-header>
      <app-sidebar></app-sidebar>
    </div>
  </div>

<div class="diet-detail-container">

    <div class="titulo">
        <h2>{{alimento.name}}</h2>
    </div>

    <div class="img">
        <img [src]="alimento.image"  alt="imagem">
    </div>

    <div class="descricao">
        <p>{{alimento.description}}</p>
    </div>

    <div class="detalhes">
        <ul>
            <li><strong>Calorias:</strong> {{alimento.calories}}kcal</li>
            <li><strong>Carboidratos:</strong> {{alimento.carbohydrates_total_g}}g</li>
            <li><strong>Proteinas:</strong> {{alimento.protein_g}}g</li>
            <li><strong>Total de gordura:</strong> {{alimento.fat_total_g}}g</li>
            <li><strong>Gordura saturada:</strong> {{alimento.fat_saturated_g}}g</li>
            <li><strong>Potássio:</strong> {{alimento.potassium_mg}}mg </li>
            <li><strong>Colesterol:</strong> {{alimento.cholesterol_mg}}mg</li>
            <li><strong>Sódio:</strong> {{alimento.sodium_mg}}mg</li>
            <li><strong>Fibras:</strong> {{alimento.fiber_g}}g</li>
            <li><strong>Açúcares:</strong> {{alimento.sugar_g}}g</li>
            <li><strong>Tamanho da porção:</strong> {{alimento.serving_size_g}}g</li>
          </ul>
    </div>

    <div class="voltar">
        <button (click)="voltar()">Voltar</button>
    </div>

</div>