<div class="content">
    <div class="grid-container">
      <app-header></app-header>
      <app-sidebar></app-sidebar>
    </div>
  </div>

<div class="diet-detail-container">

    <div class="titulo">
        <h2>{{alimentos.name}}</h2>
    </div>

    <div class="img">
        <img [src]="alimentos.image"  alt="imagem">
    </div>

    <div class="descricao">
        <p>{{alimentos.description}}</p>
    </div>

    <div class="detalhes">
        <ul>
            <li><strong>Calorias:</strong> {{alimentos.calories}}kcal</li>
            <li><strong>Carboidratos:</strong> {{alimentos.carbohydrates_total_g}}g</li>
            <li><strong>Proteinas:</strong> {{alimentos.protein_g}}g</li>
            <li><strong>Total de gordura:</strong> {{alimentos.fat_total_g}}g</li>
            <li><strong>Gordura saturada:</strong> {{alimentos.fat_saturated_g}}g</li>
            <li><strong>Potássio:</strong> {{alimentos.potassium_mg}}mg </li>
            <li><strong>Colesterol:</strong> {{alimentos.cholesterol_mg}}mg</li>
            <li><strong>Sódio:</strong> {{alimentos.sodium_mg}}mg</li>
            <li><strong>Fibras:</strong> {{alimentos.fiber_g}}g</li>
            <li><strong>Açúcares:</strong> {{alimentos.sugar_g}}g</li>
            <li><strong>Tamanho da porção:</strong> {{alimentos.serving_size_g}}g</li>
          </ul>
    </div>

    <div class="voltar">
        <button (click)="voltar()">Voltar</button>
    </div>

</div>