<div class="content">
    <div class="grid-container">
      <app-header></app-header>
      <app-sidebar></app-sidebar>
    </div>
  </div>

  <div class="diet-container">

    <div class="pesquisar">
      <input type="text" [(ngModel)]="textoPesquisa" >
      <button (click)="buscarAlimentos()" >Pesquisar</button>

  </div>

    <h1 class="titulo">Lista de Alimentos</h1>
<div class="diet">
  <div *ngFor="let alimentos of listaDeAlimentos" (click)="redirectToDetail(alimentos.id)">
    <div class="lista-card">
        <div class="card-header">
        <h2 class="card-nome">{{alimentos?.name}}</h2>     
        </div>
        <div class="card-img"><img [src]="alimentos?.image" [alt]="alimentos?.name">
        </div>
        <span class="card-description">{{alimentos?.description}}</span>      
    </div>
</div>    
</div>
</div>
