<div class="login">
    <form (ngSubmit)="entrar()"  [formGroup]="login">
      <h2>Identificação de Usuário</h2> 
      <div class="elemento-formulario">
        <label for="emailUsuario">Entrar com email</label>
        <input
            type="email"
            name="emailUsuario"
            formControlName="emailUsuario"/>
       </div> 
       <div class="elemento-formulario">
        <label for="senhaUsuario">Senha</label>
        <input
            type="password"
            name="senhaUsuario"
            formControlName="senhaUsuario"/>
          
       </div>
       <div class="botoes-formulario">
        <button class="cadastrar" type="button" [routerLink]="['/cadastro']">Cadastrar-me</button>
        <button class="entrar" type="submit">Entrar</button>
        <button class="esqueciAsenha" type="button" (click)="esqueciAsenha()">Esqueci a senha</button>
      </div> 
    </form>
</div>
