<div class="container">
    <h1 class="titulo">Cadastro de Usuário</h1>
<div class="cadastro">
    <form (ngSubmit)="cadastrar()"  [formGroup]="cadastro">
       
        <div class="elemento-formulario">
            <label for="nome">Nome:</label>
            <input
                placeholder="Digite o seu nome!"
                type="text"
                name="nomeUsuario"
                formControlName="nomeUsuario">
               
           </div> 
        
        <div class="elemento-formulario">
        <label for="email">Email:</label>
        <input
            placeholder="Digite o seu email!"
            type="email"
            name="emailUsuario"
            formControlName="emailUsuario">
       </div> 

       <div class="elemento-formulario">
        <label for="dataNascimento">Data de Nascimento:</label>
        <input
            placeholder="Digite a sua Data de nascimento"
            type=date
            name="dataNascimentoUsuario"
            formControlName="dataNascimentoUsuario">
            
       </div> 

       <div class="elemento-formulario">
        <label for="peso">Peso (Kg)</label>
        <input
            placeholder="Digite o seu peso!"
            type=number
            name="pesoUsuario"
            formControlName="pesoUsuario">
            
       </div> 
   
       <div class="elemento-formulario">
        <label for="altura">Altura (cm)</label>
        <input
            placeholder="Digite sua altura em cm!"
            type=number
            name="alturaUsuario"
            formControlName="alturaUsuario">
       </div> 

       <div class="elemento-formulario">
        <label for="cep">CEP.:</label>
        <input
            placeholder="Digite o seu CEP!"
            type="text"
            name="cepUsuario"
            formControlName="cepUsuario">
            
       </div> 
       
       <div class="elemento-formulario">
        <label for="senhaUsuario"></label>
        <input
            placeholder="Digite sua senha!"
            type="password"
            name="senhaUsuario"
            formControlName="senhaUsuario">

       </div>

       <div class="elemento-formulario">
        <label for="confirmarSenhaUsuario"></label>
        <input
            placeholder="Confirme sua senha!"
            type="password"
            name="confirmarSenhaUsuario"
            formControlName="confirmarSenhaUsuario">
       </div>
        <button class="botoes-formulario" type="submit">Cadastrar</button>
        <button class="botoes-formulario" type="button" [routerLink]="['']">Voltar</button>
    </form>
</div>
</div>
